# Récupère ces clés sur https://app.kkiapay.me/dashboard (mode Sandbox activé)
KKIAPAY_PUBLIC_KEY=ta_clef_publique_sandbox
KKIAPAY_PRIVATE_KEY=ta_clef_privee_sandbox
KKIAPAY_SECRET_KEY=ta_clef_secrete_sandbox

# true = mode test (sandbox), false = production
KKIAPAY_SANDBOX=true

PORT=3000
